body {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  padding: 50px;
}

#timer {
  font-size: 5rem;
  margin: 20px;
  color: #ff0000;
}

button {
  font-size: 1.2rem;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  background-color: #2bb2c9;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

#mode {
  margin-top: 20px;
  font-size: 1.2rem;
}